body{
    padding: 200px;
}

/* Button 1 */
.button1 { 
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    border-radius: 5px; 
    border: 1px solid white;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);            
    background: linear-gradient( 120deg, #FCD0A1, #B1B695, #53917E,#63535B,#6D1A36);
    background-size: 200%;
    transition: 1s;
    background-position: 0px 0px;
}

.button1:hover {
    background-position: 100% 0px;
}

/* Button 2 */
.button2 {
    
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 50px;
    text-decoration: none;
    color:black;
    background-color: black;
    background-position: 0px 0px;
    background:linear-gradient(90deg,white 50%, black 50%);
    position: relative;
    transition: 0.4s;
    border: 1px solid black;   
    background-size: 200%;
}


.button2:hover {
    background-position: -120% 0px;
    color: white;
}

.button2-icon {
    position: absolute;
    left: 16px;
}

.button2:hover .button2-icon {
    color: black;
}

/* Button 3 */
.button3 {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px 30px ;
    transition: 1s;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.button3::after {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    content: " ";
    position: absolute;
    border-radius: 40px ;
    left: -10px;
    top: 2px;
    background: linear-gradient(120deg, darkblue,cyan,darkblue );
    background-position: 0px 0px;
    transition: 1s;
    background-size: 200%;	
    z-index: -1;	
}

.button3:hover::after {
    width: 108%;
    background-position: 200% 0px;
}

.button3:hover {
    color: white;
}

/* Button 5 */
.button5 {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
}

.button5:hover {
    animation-name: zoom;
    animation-duration: 1s;  
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {transform: scale(1);}
    25% {transform: scale(1.2);}
    50% {transform: scale(1);}
    75% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

/* Button 6*/
.button6 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    color: black;
}

.button6::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 10px;
    top: -4px;
    left: -10px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    transition: 0.4s;
}

.button6::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 10px;
    top: -4px;
    right: -10px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transition: 0.4s;
}

.button6:hover::after {
    left: 0px;
    width: 15px;
}

.button6:hover::before {
    right: 0px;
    width: 15px;
}
